body {
    margin-left: 0;
    margin-top: 0;
    background-size: cover;
    background-image: url(/static/assets/images/background.jpg);
    background-attachment: fixed;
}

.home-section {
    width: 800px;
    height: 650px;
    border-radius: 30px;
    background-color: white;
    margin: 80px auto;
    text-align: center;
}

select {
    position: relative;
    width: 18rem;
}

.input-select, input[type=text] {
    font-family: 'Ek Mukta', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    height: 40px;
    background-color: #FAFCFD;
    border: 3px solid transparent;
    transition: .3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

option {
    position: relative;
    height: 4rem;
    background-color: #FAFCFD;
    padding: 3rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s;
    opacity: 1;
}

option:hover {
    background-color: #FF908B;
}

input[type=text] {
    text-align: center;
    height: 32px;
    width: 282px;
}

.form-input {
    padding-bottom: 37px;
}

.bold {
    font-weight: bold;
}

.home-section img {
    padding-top: 30px;
    width: 60%;
    height: auto;
    margin-bottom: 40px;
}

/*input[type=text] {*/
    /*background-color: #FAFCFD;*/
    /*width: 200px;*/
    /*height: 30px;*/
    /*border-radius: 4px;*/
    /*box-sizing: border-box;*/
    /*border: 1px solid #ccc;*/

/*}*/

.submit {
    background-color: #ff8b7f;
    border-radius: 30px;
    border: none;
    height: 33px;
    width: 149px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    cursor: pointer;
}

#results-submit {
    padding-top: 50px;
}

h2 {
    margin-top: 0;
    font-size: 30px;
    font-family: "roboto", sans-serif;
    font-weight: normal;
}

.oneEvent {
    width: 400px;
    height: 400px;
    border: #9C1A1C;
    border-style: solid;
}

h1 {
    color: #3A7734;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: coral;
    color: white;
    text-align: center;
    height: 75px;
}