{% include 'header.html' %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<body>
    <div class="home-section">
        <form method="get" action="results">
            <div class="home-form-group">
                <img id="website-name" src="/static/assets/images/websiteName.png">
                <h2>What <span class="bold">state</span> do you want to travel to?</h2>
                <div class="form-input-group">
                    <div class="form-input">
{#                        <label for="country">State</label>#}
                        <select class="input-select" name="state" id="state" disabled="disabled">
                            <option disable="disabled">{{ state }}</option>
                        </select>
                    </div>
                    <h2>What <span class="bold">city</span> do you want to travel to?</h2>
                    <div class="form-input">
{#                        <label for="country">City</label>#}
                        <select class="input-select" name="city" id="city">
                            <option value="" selected="selected" disabled="disabled">Select a city</option>
                            {% for city in cities %}
                            <option value="{{ city.city }}+{{ city.lat }}+{{ city.lon }}">{{ city.city }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <h2><span class="bold">When</span> do you want to travel?</h2>
            <input type="text" name="daterange" value="12/11/2018 - 12/18/2018" />
            <div class="home-form-group" id="results-submit">
                <button class="submit" type="submit">Search</button>
            </div>
        </form>
    </div>
</body>

<script>
$(function() {
  $('input[name="daterange"]').daterangepicker({
    opens: 'left'
  }, function(start, end, label) {
    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
  });
});
</script>



{% include 'footer.html' %}